<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Administrar Equipos
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                        data-target="#crearEquipo">Nuevo Equipo</button>
                </div>
                <div class="modal fade" id="crearEquipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-name" id="exampleModalLabel">Crear Equipo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="form">
                                    <div class="form-group">
                                        <input type="text" name="TeamName" formControlName="txtName"
                                            placeholder="Insertar nombre de la equipo" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="TeamCountry" formControlName="txtCountry"
                                            placeholder="Insertar pais" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="date" name="TeamFundation" formControlName="txtFundation"
                                            placeholder="Insertar fecha de creacion" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" (click)="crearTeam()"
                                            data-dismiss="modal">Crear</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div *ngIf="loading">Cargando...</div>
            <div *ngIf="error">Error al cargar los datos</div>
            <div *ngIf="teams">
                <table class="table table-bordered table-hover bg-white">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>PAIS</th>
                            <th>FUNDACIÓN</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of teams">
                            <td>
                                {{i.tea_id}}
                            </td>
                            <td>
                                {{i.tea_name}}
                            </td>
                            <td>
                                {{i.tea_country}}
                            </td>
                            <td>
                                {{i.tea_fundation | date}}
                            </td>
                            <td class="d-flex justify-content-center">
                                <a [routerLink]="['/team-team',i.tea_id,i.tea_name]" class="btn btn-success ml-1"><i
                                        class="fas fa-plus-circle"></i>
                                </a>
                                <a class="btn btn-danger" (click)="eliminarTeam(i.tea_id)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a class="btn btn-success" data-toggle="modal" data-target="#editarTeam"
                                    (click)="infoUpdateTeam(i.tea_id,i.tea_name,i.tea_country,i.tea_fundation)">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <div class="modal fade" id="editarTeam" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-name" id="exampleModalLabel">Editar Equipo</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form [formGroup]="form">
                                                    <div class="form-group">
                                                        <input type="text" name="EquipoName" formControlName="txtName"
                                                            placeholder="{{informacionTeam.tea_name}}"
                                                            class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="TeamCountry"
                                                            formControlName="txtCountry"
                                                            placeholder="{{informacionTeam.tea_country}}"
                                                            class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="date" name="TeamFundation"
                                                            formControlName="txtFundation"
                                                            placeholder="{{informacionTeam.tea_fundation}}"
                                                            class="form-control">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Cerrar</button>
                                                        <button type="button" class="btn btn-primary"
                                                            (click)="actualizarTeam(informacionTeam.tea_id)"
                                                            data-dismiss="modal">Actualizar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>