<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Administrar Actores
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                        data-target="#crearActor">Nuevo Actor</button>
                </div>
                <div class="modal fade" id="crearActor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crear Actor</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="form">
                                    <div class="form-group">
                                        <input type="text" name="Nombre Actor" formControlName="txtname"
                                            placeholder="Insertar nombre actor" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Pais Actor" formControlName="txtcountry"
                                            placeholder="Insertar pais actor" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" (click)="crearActor()"
                                            data-dismiss="modal">Crear</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-hover bg-white">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Pais</th>
                        <th class="d-flex justify-content-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of actors">
                        <td>
                            {{a.act_id}}
                        </td>
                        <td>
                            {{a.act_name}}
                        </td>
                        <td>
                            {{a.act_country}}
                        </td>
                        <td class="d-flex justify-content-center">
                            <a class="btn btn-danger" (click)="eliminarActor(a.act_id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a class="btn btn-success" data-toggle="modal" data-target="#editarActors"
                                (click)="infoUpdateActors(a.act_id,a.act_name,a.act_country,a.act_state)">
                                <i class="fas fa-edit"></i>
                            </a>

                            <div class="modal fade" id="editarActors" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editar Actor</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="form">
                                                <div class="form-group">
                                                    <label>
                                                        <h6>Id Actor:{{informacionActor.act_id}}</h6>
                                                    </label>
                                                    <input type="text" name="Nombre Actor" formControlName="txtname"
                                                        placeholder="{{informacionActor.act_name}}"
                                                        class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="Pais Actor" formControlName="txtcountry"
                                                        placeholder="{{informacionActor.act_country}}"
                                                        class="form-control">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="actualizarActor(informacionActor.act_id)"
                                                        data-dismiss="modal">Actualizar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>